<nav class="site-nav" aria-label="Primary">
  <a class="brand" href="{{ url('/', absolute=False) }}">
    <img
      class="brand-logo"
      src="{{ asset('images/avalon-banner.svg', absolute=False) }}"
      alt="Avalon"
      width="168"
      height="50"
    >
  </a>
  <div class="nav-end">
    <ul class="nav-links">
      <li><a href="{{ url('/', absolute=False) }}">Home</a></li>
      <li><a href="{{ url('/progress', absolute=False) }}">Milestones</a></li>
      <li><a href="{{ url('/showcase', absolute=False) }}">Caliburn</a></li>
      <li><a href="{{ url('/api/orm', absolute=False) }}">ORM API</a></li>
    </ul>
    <button type="button" class="theme-toggle" id="theme-toggle" aria-label="Toggle color theme"></button>
  </div>
</nav>
